<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
 </br>
<?php 
 Print "Hello, World! I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
echo  "List of Databases: </BR>";
        {% for host in groups['test_machine'] %}
//                $link = mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].upassword }}') or die(mysqli_connect_error($link));
                $link = mysqli_connect('localhost', '{{ hostvars[host]['dbuser'] }}', '{{ hostvars[host]['upassword'] }}') or die(mysqli_connect_error($link));
        {% endfor %}
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        }
mysqli_close($link);
$linka = mysqli_connect('localhost', '{{ hostvars[host]['dbuser'] }}', '{{ hostvars[host]['upassword'] }}','world') ;
echo "\n";
echo '</br>';
/* check connection */
if (mysqli_connect_errno()) {
    printf("Connect failed: %s\n", mysqli_connect_error());
    exit();
}

/* Select queries return a resultset */
if ($result = mysqli_query($linka, "SELECT * FROM city")) {
    printf("Select returned %d rows.\n", mysqli_num_rows($result));
 echo "<table>";
   while($rowa = mysqli_fetch_array($result))
      {
      echo "<tr><td>" .$rowa['ID']. "</td><td>" . $rowa['Name']. "</td><td>" . $rowa['CountryCode']. "</td><td>" . $rowa['District']. "</td><td>" . $rowa['Population']."</td></tr>";
      }
echo "</table>";
 /* free result set */
    mysqli_free_result($result);
}
mysqli_close($linka);

?>
</body>
</html>

